*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html, body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}

body{
    background:#fffefe;
    display:flex;
    justify-content:center;
    align-items:flex-start; 
}



.container{
    width:96%;
    height:95%;
    background:white;
    border-radius:15px;
    overflow:hidden;
    display:flex;
    box-shadow:0 10px 30px rgba(0,0,0,.3);
}

/* ===========================
    SIDEBAR
=========================== */
.sidebar{
    width:250px;
    height:100%;
    background:#4285F4;
    color:white;
    display:flex;
    flex-direction:column;
    position:relative;
    transition:.3s;
}

.logo{
    background:#FFD230;
    padding:20px;
}

.logo h1{
    color:#1E88E5;
    font-size:2rem;
}

.perfil{
    text-align:center;
    padding:25px 20px;
    }

.perfil img{
    width:70px;
    height:70px;
    border-radius:50%;
    background:white;
    margin-bottom:10px;
}

.perfil h2{
    font-size:1.3rem;
}

.perfil p{
    color:#FFD230;
    font-weight:bold;
}

.menu{
    display:flex;
    flex-direction:column;
}
.menu a{
    color:white;
    text-decoration:none;
    padding:16px 25px;
    display:flex;
    align-items:center;
    gap:15px;
    transition:.3s;
}

.menu a:hover,
.menu .activo{
    background:rgba(255,255,255,.15);
}

.menu span{
    font-size:1.3rem;
}

.padres{
    margin-top:auto;
    padding:20px;
}

.padres hr{
    border:none;
    border-top:2px solid rgba(255,255,255,.4);
    margin-bottom:20px;
}

.padres a{
    color:white;
    text-decoration:none;
    display:flex;
    align-items:center;
    gap:12px;
}

.padres strong{
    display:block;
}

.sidebar.cerrado{
    width:70px;
}

/* Flecha */

.toggle-btn{
    position:absolute;
    top:50%;
    right:-18px;
    transform:translateY(-50%);
    width:36px;
    height:36px;
    border:none;
    border-radius:50%;
    background:#fff;
    color:#4285F4;
    font-size:20px;
    font-weight:bold;
    cursor:pointer;
    box-shadow:0 2px 8px rgba(0,0,0,.3);
}
.sidebar.cerrado h1,
.sidebar.cerrado h2,
.sidebar.cerrado p,
.sidebar.cerrado .texto,
.sidebar.cerrado hr,
.sidebar.cerrado .padres{
    display:none;
} 

/* ===========================
BOTON PADRES
=========================== */

.parents{
    margin-top:auto;
    padding:25px;
    border-top:2px solid rgba(255,255,255,.3);
    display:flex;
    align-items:center;
    gap:15px;
}

.parents i:first-child{
    font-size:34px;
}

.parents h4{
    font-size:18px;
}

.parents p{
    font-size:14px;
}

.parents .fa-arrow-right{
    margin-left:auto;
}

/* ===========================
CONTENIDO
=========================== */

.content{
    flex:1;
    display:flex;
    flex-direction:column;
}

/* ===========================
HEADER
=========================== */

header{
    background:#ffd21f;
    height:85px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 35px;
}

header h1{
    font-size:45px;
    color:#111;
}

header p{
    color:#444;
}

/* ===========================
ESTADISTICAS
=========================== */

.stats{
    background:white;
    border:3px solid #333;
    border-radius:18px;
    display:flex;
    gap:45px;
    padding:15px 30px;
}

.stat{
    text-align:center;
}

.stat small{
    color:#666;
}

.stat h3{
    margin-top:6px;
    font-size:28px;
}

/* ===========================
CONTENIDO CENTRAL
=========================== */

.body-content{
    flex:1;
    display:flex;
    padding:35px;
    gap:30px;
}

.levels{
    flex:2;
}

.summary{
    width:320px;
    background:#ff9800;
    border-radius:10px;
    padding:25px;
}

.summary h2{
    color:#ffe600;
    text-align:center;
    margin-bottom:20px;
}

.summary .icon{
    font-size:85px;
    text-align:center;
    margin-bottom:20px;
}

.summary p{
    text-align:center;
    margin-bottom:30px;
}

.summary h3{
    margin-top:25px;
    margin-bottom:10px;
}

.summary ul{
    padding-left:20px;
}
.levels h2{
    font-size:34px;
    margin-bottom:25px;
}

/*==============================
    TARJETAS
==============================*/

.level{
    display:grid;
    grid-template-columns:70px 80px 1fr 130px 150px;
    align-items:center;
    gap:15px;
    background:#fff;
    border:3px solid #555;
    border-radius:10px;
    padding:15px;
    margin-bottom:20px;
    transition:.35s;
}

.level:hover{
    transform:translateY(-5px);
    box-shadow:0 10px 20px rgba(0,0,0,.2);
}

/*==============================
    CIRCULO NUMERO
==============================*/

.number{
    width:45px;
    height:45px;
    border-radius:50%;
    color:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:24px;
    font-weight:bold;
}

.green .number{
    background:#67d94b;
}

.blue .number{
    background:#36a4ff;
}

.red .number{
    background:#ff4343;
}

.gray .number{
    background:#888;
}

/*==============================
    ICONO
==============================*/

.image{
    width:65px;
    height:65px;
    background:#f3f3f3;
    border-radius:10px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.image i{
    font-size:42px;
    color:#333;
}

/*==============================
    TEXTO
==============================*/

.info h3{
    font-size:18px;
    margin-bottom:5px;
}

.info p{
    color:#777;
    font-size:14px;
}

/*==============================
    ESTADO
==============================*/

.status{
    text-align:center;
}

.status span{
    display:block;
    font-weight:700;
    margin-bottom:5px;
}

.green .status span{
    color:#39b84a;
}

.blue .status span{
    color:#2196f3;
}

.red .status span{
    color:#ff4d4d;
}

.gray .status span{
    color:#777;
}

.status small{
    font-size:13px;
    color:#666;
}

/*==============================
    PROGRESO
==============================*/

.progress{
    display:flex;
    align-items:center;
}

.bar{
    width:100%;
    height:12px;
    background:#ddd;
    border-radius:20px;
    overflow:hidden;
}

.fill{
    height:100%;
    border-radius:20px;
    transition:1s;
}

.fill100{
    width:100%;
    background:#4caf50;
}

.fill85{
    width:85%;
    background:#2aa8ff;
}

.fill40{
    width:40%;
    background:#ff5252;
}

.fill0{
    width:0%;
    background:#999;
}

/*==============================
    COLORES TARJETAS
==============================*/

.green{
    border-color:#4caf50;
}

.blue{
    border-color:#2aa8ff;
}

.red{
    border-color:#ff5252;
}

.gray{
    border-color:#9b9b9b;
}

/*==============================
    PANEL DERECHO
==============================*/

.summary{
    color:#111;
}

.summary h2{
    font-size:28px;
}

.summary .icon{
    color:#333;
}

.summary p{
    font-size:18px;
    line-height:1.5;
}

.strengths h3{
    color:#17d417;
}

.weakness h3{
    color:#ff3b3b;
}

.summary li{
    margin-bottom:8px;
}

/*==============================
    RESPONSIVE
==============================*/

@media(max-width:1100px){

.body-content{
    flex-direction:column;
}

.summary{
    width:100%;
}

.level{
    grid-template-columns:60px 70px 1fr;
    row-gap:15px;
}

.status,
.progress{
    grid-column:1/4;
}


}