*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

body{
    height: 100vh;
    background-color: rgb(245, 211, 117);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    height: 550px;
    position: absolute;
}

.formulario {
    width: 400px;
    position: absolute;
    background-color: #fff;
    border: 5px solid orange;
    border-radius: 10px;
    padding: 30px 60px;
    top: 250px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

.formulario input,
.formulario label,
.formulario button {
    display: block;
    width: 100%;
    margin: 5px 0;
}

.formulario input {
    height: 40px;
    border: 2px solid orange; /*cambiar color al de la palet*/
    border-radius: 10px;
    padding: 0 8px;
}

/* Estilos para el botón */
.formulario button {
    margin-top: 20px;
    cursor: pointer;
    border: none;
    height: 40px;
    background-color: orange; /* camiar color al de la paleta*/
    box-shadow: 1px 1px 2px #000;
    color: #fff;
}

/* Efecto hover del botón */
.formulario button:hover {
    background-color: orange;
}

